<!doctype html>
<html lang="en">
<head>
    <% include ../partials/shim %>
</head>
<body>
<div>
    <% include ../partials/header %>
    <br/>
    <div class="jumbotron"> <p>
    This is place to put content. You can put slider, short description about your website and place some links for navigation.
    </p></div>
    <% include ../partials/footer %>
</div>
</body>
</html>
