<html>
<body>
<form action="/users/<%= iduser %>" method="POST">
First Name: <input type="text" name="first_name" value="<%= prinome %>">  <br>

Last Name: <input type="text" name="last_name" value="<%= ultnome %>">
<input type="submit" value="Submit">
</form>
</body>
</html>
