<html>
<body>
<form action="/users" method="POST">
First Name: <input type="text" name="first_name">  <br>

Last Name: <input type="text" name="last_name"> <br>

Email: <input type="email" name="user_email">
<input type="submit" value="Submit">
</form>
</body>
</html>
